:root {
  --clr-primary-violet: hsl(263, 55%, 52%);
  --clr-primary-light-purple: hsl(264, 82%, 70%);
  --clr-primary-dark-grey-blue: hsl(217, 19%, 35%);
  --clr-primary-black-blue: hsl(219, 29%, 14%);
  --clr-primary-white: hsl(0, 0%, 100%);
  --clr-neutral-light-gray: hsl(0, 0%, 81%);
  --clr-neutral-gray-blue:  hsl(210, 46%, 95%);

  --fs-11: 0.6875rem;
  --fs-13: 0.8125rem;
  --fs-20: 1.25rem;
}

body {
  /*
    weight: 500 & 600
  */
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(0, 0%, 95%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1150px;
  margin-inline: auto;
}

h2 {
  font-size: var(--fs-20);
  font-weight: 600;
}

p {
  font-size: var(--fs-13);
  font-weight: 500;
}

/************************************************/

.clr-txt-grey-blue {
  color: var(--clr-primary-dark-grey-blue);
}

.clr-txt-white {
  color: var(--clr-primary-white);
}

.clr-txt-light-grey {
  color: var(--clr-neutral-light-gray);
}

.bg-clr-violet {
  background-color: var(--clr-primary-violet);
}

.bg-clr-light-purple {
  background-color: var(--clr-primary-light-purple);
}

.bg-clr-white {
  background-color: var(--clr-primary-white);
}

.bg-clr-grey-blue {
  background-color: var(--clr-primary-dark-grey-blue);
}

.bg-clr-black-blue {
  background-color: var(--clr-primary-black-blue);
}

.bg-clr-black-blue {
  background-color: var(--clr-primary-black-blue);
}

.fs-11 {
  font-size: var(--fs-11);
}

.fs-13 {
  font-size: var(--fs-13);
}

.fs-20 {
  font-size: var(--fs-20);
}

.mbe-16 {
  margin-block-end: 1rem;
}

.mbe-24 {
  margin-block-end: 1.5rem;
}

.lh-13 {
  line-height: 13px;
}

.lh-11 {
  line-height: 11px;
}

.lh-18 {
  line-height: 18px;
}

.opacity-70 {
  opacity: 70%;
}

.opacity-50 {
  opacity: 50%;
}

/************************************************/

/*  grid container  */
.container {
  display: grid;
  grid-gap: 1.875rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;

  grid-template-areas: 
  'Daniel Daniel Jonathan Kira'
  'Jeanette Patrick Patrick Kira';
}

.card {
  padding: 1.625rem 2rem;
  position: relative;
  box-shadow: 40px 60px 50px -47px rgba(72,85,106,24%);
}
.card > figure {
  gap: 1.125rem;
}
.card > figure img {
  width: 28px;
}
.card:first-child blockquote {
  position: relative;
  z-index: 2;
}
.card:first-child .quote {
  position: absolute;
  top: 0;
  right: 10%;
}

div.highlight {
  background-color: var(--highlight, var(--clr-primary-violet));
  border-radius: 50%;
  padding: 2px;
}

.card:nth-child(1) {
  --highlight: var(--clr-primary-light-purple);
  grid-area: Daniel;
}
.card:nth-child(2) {
  grid-area: Jonathan;
}
.card:nth-child(3) {
  grid-area: Jeanette;
}
.card:nth-child(4) {
  grid-area: Patrick;
}
.card:nth-child(5) {
  grid-area: Kira;
}

@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    grid-template-areas: 
    'Daniel Jonathan'
    'Jeanette Patrick'
    'Kira .';
  }
}

@media screen and (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'Daniel'
    'Jonathan'
    'Jeanette'
    'Patrick'
    'Kira';
  }
}